<section>
    <div>
        <h2>Create a task</h2>
        <form [formGroup]="createTaskForm" (ngSubmit)="onSubmit()">
            <div>
                <label for="title">Title: </label>
                <input id="title" type="text" name="title" formControlName="title" />
            </div>
                @if (createTaskForm.controls.title.touched && createTaskForm.controls.title.invalid) {
                    <small>
                        Please enter a valid title
                    </small>
                }
            <div>
                <label for="description">Description: </label>
                <input id="description" type="text" name="description" formControlName="description" />
            </div>
                @if (createTaskForm.controls.description.touched && createTaskForm.controls.description.invalid) {
                    <small>
                        Please enter a valid description
                    </small>
                }
            <div>
                <label for="deadline">Deadline: </label>
                <input id="deadline" type="date" name="deadline" [min]="defaultDeadline" formControlName="deadline" />
            </div>
                @if (createTaskForm.controls.deadline.touched && createTaskForm.controls.deadline.invalid) {
                    <small>
                        Please enter a valid dadline
                    </small>
                }
                <div class="click-list-wrapper">
                <button class="btn-primary" (click)="showOrgs()" type="button">assign task</button>
                @if (isOpen()) {

                    <div class="click-list-container">
                        <div class="flex-col">
                            <span>Available orgs:</span>

                            <ul class="click-list">
                                @for(org of organizations(); track $index){
                                    <li><button class="list-button" (click)="addOrg(org)" type="button">{{org.name}}</button></li>
                                    
                                }
                            </ul>
                            
                        </div>
                        <div class="flex-col">

                            <span>Selected users:</span>
                            <ul class="click-list">

                            @for(org of getFormOrgs; track $index){
                                <li><button class="list-button" (click)="removeOrg(org)" type="button">{{org.name}}</button></li>

                            }
                            </ul>

                        </div>
                    </div>
                }

                </div>

            
                @if(errMessage()) {
                    <small>{{ errMessage() }}</small>
                }
            <button type="submit" [disabled]="!createTaskForm.valid">add</button>
        </form>
    </div>
</section>