.users-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, mixmax(200px, 1fr));
    padding:1rem;
    gap: 1rem;
}
.user-item {

    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--primary-color);
    padding: 1rem;
    max-width: 300px;
    color: var(--bg-color);
    border-radius: 10px;
     > span {
        padding: 0.2rem;
     }
     > span:first-child {
        font-weight: bold;
        font-size: 1.2rem;
     }
}