@font-face {
    font-family: 'Roboto';
    src: url("../assets/fonts/Roboto/Roboto-Regular.ttf") format('truetype');
}
@font-face{
    font-family: 'Roboto Mono';
    src: url("../assets/fonts/Roboto_Mono/RobotoMono-Regular.ttf") format('truetype');
}

$font-primary: "Roboto", sans-serif;
$font-secondary:"Roboto Mono", sans-serif;