/* You can add global styles to this file, and also import other style files */
@use 'variables';
@use 'fonts';



* {
    font-family: fonts.$font-primary;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-width: 800px;
}
@media (max-width: 1000px) {

    form > div {
        display: flex;
        flex-direction: column;
    }
    div.redirect {
    flex-direction: column;
    align-items: center;
    }
  
    .orgs-container {
        flex-direction: column;

    }
    h1, h2, h3, h4 {
    margin:0.1rem 0rem;
    padding: 0.5rem;
    text-transform: capitalize;
}

}

section {
    padding: 5rem 0rem;
}
li {
    list-style-type: none;
}
a {
    cursor: pointer;
    color: var(--bg-color);
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 0.5rem;
    min-width: 10ch;
    font-family: fonts.$font-secondary;
    text-decoration: none;
    border: 0.1px solid transparent;
}

a:hover {
    background-color: var(--bg-color);
    color: var(--primary-color);
    transition: 150ms;
    border: 0.1px solid var(--primary-color);
}
a.secondary {
    color: var(--primary-color);
    background-color: var(--bg-color);
    border: solid 1px var(--primary-color);
}
a.secondary:hover {
    color: var(--bg-color);
    background-color: var(--primary-color);
    border: solid 1px var(--bg-color);
}
h1, h2, h3, h4 {
    margin:1rem 0rem;
    padding: 1rem;
    text-transform: capitalize;
}
p {
    padding: 1rem;
}
    h1.form-heading {
    text-align: center;
    padding: 4rem;
    font-size: 2rem;
    margin: 0;
}
nav.links {

    display: flex;
    gap:1rem;

}
form {

    margin: 2rem 0rem;
    display: flex;
    padding: 3rem 2rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    & button {
        margin-top: 2rem;
        width: fit-content;
        padding: 0.5rem;
        min-width: 15ch;
        text-transform: uppercase;
    }

    & div {
        display: flex;
        gap:1rem;
        justify-content: start;
        align-items: center;
        
        & label, input {
            width: 20ch;
            font-size: 1.2rem;
        }
    }


}
div.redirect {
    padding: 2rem;
    display: flex;
    gap:2rem;
    justify-content: space-between;
    & p , a{
        font-size: 1.2rem;
        font-weight: bold;
    }
}

button.btn-primary {
    background-color: var(--primary-color);
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--bg-color);
    border-radius: 15px;
    border: 0.1px solid transparent;
    transition: 150ms;
    cursor: pointer;
}
button.btn-primary:hover {
    background-color: var(--bg-color);
    color: var(--primary-color);
    border: 0.1px solid var(--primary-color);
}
button.btn-primary[disabled] {
    background-color: var(--disabled-color);
}
button.btn-primary[disabled]:hover {
    color: var(--bg-color);
    cursor: default;
}
button.btn-secondary {
    min-width: 10ch;
    background-color: var(--primary-color);
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--bg-color);
    border-radius: 15px;
    border: 0.1px solid transparent;
    transition: 150ms;
    cursor: pointer;
}
button.btn-secondary:hover {
    background-color: var(--bg-color);
    color: var(--primary-color);
    border: 0.1px solid var(--primary-color);
}
button.btn-secondary[disabled] {
    background-color: var(--disabled-color);
}
button.btn-secondary[disabled]:hover {
    color: var(--bg-color);
    cursor: default;
}
button.warn {
    background-color: var(--warn-color);
}
button.warn:hover {
    background-color: var(--bg-color);
    color: var(--warn-color);
    border-color: var(--warn-color);
}

div.org-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;

a.grid-item {
    background-color: var(--primary-color);
    color: var(--bg-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    
    > span {
        font-weight: bold;
    }
}
a.grid-item:hover, a.grid-item:focus {
    background-color: var(--bg-color);
    color: var(--primary-color);
}
}
.orgs-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}
.org-card {
    gap: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.org-personel {
    display:flex;
    justify-content: space-between;
}
span.org-name {
    font-size: 1.2rem;
    font-weight: bold;
    
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.text-center {
    text-align: center;
}